@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "./sass/components/button";
@import "./sass/components/input";
@import "./sass/components/checkbox";
@import "./sass/components/date-period";
@import "./sass/components/table-links";
@import "./sass/components/table-large";
@import "./sass/components/top-menu";
@import "./sass/components/menu";
@import "./sass/components/single-list";

* {
  font-family: $brand-font;
  box-sizing: border-box;
}

.general {
  background: $lavender-light;
}

.ico {
  margin-right: 18px;
  height: 10px;
}

.circle {
  margin-right: 7px;
  width: 15px;
  margin-bottom: -3px;
}

.page__header {
  margin: 20px 0 15px 15px;
  font-size: $normal-font-size;
  font-weight: 500;
  text-transform: uppercase;
  color: $grey;
}

.section__header {
  margin: 20px 0 15px 15px;
  font-size: $normal-font-size;
  font-weight: 700;
  color: $grey;
}

.dark-text {
  margin: 20px 0 15px 15px;
  font-size: $medium-font-size;
  font-weight: 300;
  color: $dark;
}

.link {
  margin: 20px 20px 20px 0;
  font-size: $normal-font-size;
  font-weight: 300;
  color: $paleblue;
  text-decoration: none;

  &:hover {
    color: $orange-light;
  }

  &--small {
    font-size: $small-font-size;
  }
}

@media (max-width: 767px) {
  .top-menu {
    display: none;
  }
  .menu {
    &__mobile {
      display: block;
      &--mini {
        display: none;
      }
    }
    &__manager-image{
      width: 20px;
      height: auto;
    }
    &__text{
      font-size: 8px;
    }
      
  }
  .link {
    &--small {
      margin: 0;
      font-size: 8px;
    }
  }
}
@media (max-height: 500px) {
  .menu {
    max-width: 160px;

    &__item {
      &--mobile {
        height: 20px;
      }
    }
    &__text {
      &--manager {
        margin: 5px;
      }
    }
    &__hamburger {
      margin: 0;
    }
    &__text {
      font-size: 8px;
    }
  }
  
}
