@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "./sass/components/button";
@import "./sass/components/input";
@import "./sass/components/checkbox";
@import "./sass/components/date-period";
@import "./sass/components/table-links";
@import "./sass/components/table-large";
@import "./sass/components/top-menu";
@import "./sass/components/menu";
@import "./sass/components/single-list";
@import "./sass/components/glyphter";
@import "./sass/sections/personal-data";

* {
  font-family: $brand-font;
  box-sizing: border-box;
}

.general {
  background: $lavender-light;
}

.sections {
  padding-top: 15px;
  margin-left: 16.66%;

  &--first {
    padding-top: 70px;
   // margin: 58px 0 0 16.66%;
  }

  &--mini {
    margin-left: 8.33%;

  }

  &__container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    
    &--fluid {
      max-width: none;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;

    &--header {
      justify-content: flex-start;
    }
   
  }

  &__hr {
    border: 0;
    background-color:$lavender;
    height: 1px;
    padding: 0;
    margin: 0;

  }
}

.image {
  margin: 20px 0;
  max-width: 100%;
  min-width: 0;
  height: auto;
}

.page-header {
  margin: 15px;
  text-align: left;
  font-size: $normal-font-size;
  font-weight: 500;
  text-transform: uppercase;
  color: $grey;
  background: #fff;
}

.section-header {
  margin: 20px 0 15px 15px;
  text-align: left;
  font-size: $normal-font-size;
  font-weight: 700;
  color: $grey;
  background: #fff;
}

.dark-text {
  margin: 20px 0 15px 15px;
  font-size: $medium-font-size;
  font-weight: 300;
  color: $dark;
}

.link {
  margin: 20px 20px 20px 0;
  font-size: $normal-font-size;
  font-weight: 300;
  color: $paleblue;
  text-decoration: none;

  &:hover {
    color: $orange-light;
  }

  &--small {
    font-size: $small-font-size;
  }
}

@media (max-width: 767px) {
  .page__header {
    font-size: $small-font-size;
  }

  .section__header {
    font-size: $small-font-size;
  }

  .link {
    font-size: $small-font-size;

    &--small {
      margin: 0;
      font-size: 8px;
    }
  }

  .sections {
    padding: 0;
    margin: 0;

    //margin-left: 16.66%;
    &--mini {
      padding: 5px 0 0 8.33%;
      margin: 0;
    }

    &__row {
      flex-direction: column;
      &--always-row {
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
  }
}