.button {
  margin: 15px;
  border: none;
  border-radius: 3px;
  height: 40px;
  min-width: 40px;
  background: $orange;
  color: #fff;
  font-size: $medium-font-size;
  font-weight: 300;
  padding: 0 15px;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $orange-light;
  }

  &__icon {
    font-size: $medium-font-size;
  }

  &--grey {
    background: $grey;

    &:hover {
      background: $grey-light;
    }
  }

  &--disabled {
    background: $lavender;

    &:hover {
      background: $lavender;
      cursor: not-allowed;
    }
  }

  &--tab {
    background: inherit;
    color: $grey-light;

    &:hover {
      background: $lavender-light;
    }
  }

  &--active {
    background: $lavender-light;
  }
}


.ico {
  margin-right: 18px;
  height: 10px;
}

.circle {
  margin-right: 7px;
  width: 15px;
  margin-bottom: -3px;
}

@media (max-width: 767px) {
  .button {
    &--tab {
      height: 30px;
      margin: 5px;
      font-size: $small-font-size;
    }
  }
}