@mixin thumb {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid $orange;
  cursor: pointer;
}

@mixin track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: $orange;
}

.input {
  margin: 15px 0;
  height: 40px;
  padding: 10px;
  border: 1px solid $lavender;
  border-radius: 3px;
  color: $dark;
  min-width: 250px;
 
  &::placeholder {
    color: $grey-light;
  }

  &__label {
    margin: 15px 0 0;
    font-size: $normal-font-size;
    font-weight: 700;
    color: $grey;
  }

  &:focus {
    outline: none;
    border: 1px solid $dark;
  }

  &:focus:invalid {
    outline: none;
    border: 1px solid $dark;
  }

  &:invalid {
    border: 1px solid $red;
  }

  &:required {
    outline: none;
    border: 1px solid $lavender;
  }

  &:required:invalid {
    outline: none;
    border: 1px solid $orange-light;
  }

  &--small{
    min-width: 100px;
  }
  &--max{
    flex: 1;
  }
  
  &--text {
    padding-top: 15px;
    padding-right: 15px;
    min-width: 150px;
    min-height: 150px;
    font-size: $small-font-size;
    width: 100%;
    resize: none;
  }

  &--password {
    padding-left: 40px;
    background-image: url("../images/icons/password.svg");
    background-size: 20px;
    background-position: center left;
    background-repeat: no-repeat;
  }

  &--range {
    width: 100%;
    height: 50px;
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    outline: none;

    /* Special styling for WebKit/Blink */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: 10px;
      @include thumb;
    }

    /* All the same stuff for Firefox */
    &::-moz-range-thumb {
      -moz-appearance: none;
      @include thumb;
      background: none;
      height: 26px;
      border-top: none;
      border-radius: 0;
    }

    /* All the same stuff for IE */
    &::-ms-thumb {
      @include thumb;
      height: 22px;
    }

    &::-webkit-slider-runnable-track {
      @include track;
    }

    &::-moz-range-track {
      @include track;
    }

    &::-ms-track {
      @include track;
    }

    &::-ms-fill-lower {
      background: $orange;
    }

    &:focus::-ms-fill-lower {
      background: $orange;
    }

    &::-ms-fill-upper {
      background: $orange;
    }

    &:focus::-ms-fill-upper {
      background: $orange;
    }
  }
}

@media (max-width: 767px) {
  .input {
    font-size: $small-font-size;

    &__label {
      margin-bottom: 0;
    }
  }
}
