.menu {
  position: fixed;
  z-index: 999;
  background: #191919;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__hamburger {
    margin: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: $grey;
    font-size: 24px;

    &:focus {
      outline: none;
    }
  }

  &__item {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: #282828;
      border-left: 3px solid $orange;
    }

    &:hover .menu__text {
      color: #fff;
    }

    &:hover .menu__icon {
      color: #fff;
      margin: 0 20px 0 17px;
    }

    &:hover .menu__icon--mini {
      fill: #fff;
      margin: 0 0 0 -3px;
    }

    &--mobile {
      text-decoration: none;
      display: flex;
      padding: 5px;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
    }

    &--mini {
      justify-content: space-around;
      height: 40px;
    }

    &--active {
      background: #282828;
      border-left: 3px solid $orange;
    }
  }

  &__icon {
    color: $grey;
    margin: 0 20px;
    font-size: $medium-font-size;
    text-decoration: none;
    width: 10px;
    height: 10px;

    &--active {
      color: #fff;
      margin: 0 20px 0 17px;
    }

    &--mini {
      margin: 0;
    }
  }

  &__text {
    font-size: $medium-font-size;
    color: $grey;

    &--manager {
      margin: 20px;
      font-weight: 500;
      text-align: center;
    }

    &--mini {
      display: none;
    }

    &--active {
      color: #fff;
    }
  }

  &__line {
    color: $grey;
    width: 100%;

    &--mini {
      display: none;
    }
  }

  &__mobile {
    position: absolute;
    bottom: 10px;
    display: none;

    &--mini {
      display: none;
    }
  }

  &__logo {
    min-width: 0;
    height: auto;

    &--mini {
      display: none;
    }
  }

  &__manager {
    &--mini {
      display: none;
    }
    &--image {
      cursor: pointer;
    }
  }
}

@media (max-width: 767px) {
  .menu {
    &__mobile {
      display: block;

      &--mini {
        display: none;
      }
    }

    &__manager-image {
      width: 20px;
      height: auto;
    }

    &__text {
      font-size: 10px;
    }

    &__icon {
      font-size: 10px;
    }
  }
}

@media (max-height: 500px) {
  .menu {
    &__item {
      &--mobile {
        height: 20px;
      }
    }

    &__text {
      &--manager {
        margin: 5px;
      }
    }

    &__hamburger {
      margin: 0;
    }

    &__text {
      font-size: 8px;
    }
  }
}
