.single-list {
    margin: 20px;
    border-bottom: 1px solid $lavender;
    &__item {
      text-align: right;
      padding: 10px 0;
      font-size: $normal-font-size;
      &--header {
        float: left;
        margin-right: 50px;
        font-weight: 700;
        color: $grey;
      }
    }
  }

  @media (max-width: 767px) {
    .single-list{
      &__item {
      font-size: $small-font-size;
      }
    }
  }