.personal-data {
    width: 30%;
    background: #fff;

    &__row {
        //  width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__input {
        width: 250px;
    }
}

@media (max-width: 767px) {
    .personal-data {
        width: auto;

        &__row {
            flex-direction: column;
        }

    }
}