.personal-data {
   width: 35%;

     &__row{
        display: flex;
        justify-content: space-between;
    align-items: center;
    }
    &__input {
        width: 250px;
    }
}

@media (max-width: 767px) {
    .personal-data {
        max-width: 80%;
        min-width: 30%;
        &__row{
            display: flex;
            justify-content: space-between;
        align-items: center;
        flex-direction: column;
        }
        
    }
}